[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
environs = "*"
psycopg2-binary = "*"
coverage = "*"
twine = "*"
m2r = "*"
celery = ">=4.4.2"
django-solo = "*"
fcm-django = "==0.3.11"
requests = "*"
django-ckeditor = "==6.3.0"
python-telegram-bot = "*"
viberbot = "*"
django-uuslug = "*"
pillow = "*"
redis = "*"
mistune = "==0.8.4"
channels = "==3.0.4"
channels-redis = "==3.4.0"
asgiref = "==3.3.4"
twilio = "==7.10.0"
django-debug-toolbar = "==3.5.0"
eqator = ">=2.2.0"
typing-extensions = "==4.3.0"

[dev-packages]

[requires]
python_version = "3.8"
